<!DOCTYPE html>
<html>
<body>

Canvas Url: <input id="canvasDomain" />
<button onclick="authenticate()">Authenticate</button>

<script src="https://statics.teams.microsoft.com/sdk/v0.4/js/MicrosoftTeams.min.js"></script>
<script type="text/javascript">
  var HOST = "https://bdb8eddb.ngrok.io";

  microsoftTeams.initialize();

  function authenticate() {
    microsoftTeams.authentication.authenticate({
      url: HOST + '/users/authenticate',
      width: '1000',
      height: '1000',
      successCallback: function(){ window.location.replace(HOST + '/teams/register_class') },
      failureCallback: function(){alert('failure :(')},
    })
  }

</script>
</body>
</html>