<!DOCTYPE html>
<html>
<body>

Canvas Url: <input id="canvasDomain" value="https://karl.instructure.com" />
<button onclick="authenticate()">Authenticate</button>

<script src="https://statics.teams.microsoft.com/sdk/v0.4/js/MicrosoftTeams.min.js"></script>
<script type="text/javascript">
  microsoftTeams.initialize();

  function authenticate() {
    microsoftTeams.authentication.authenticate({
      url: '/auth?canvas_host=' + document.getElementById('canvasDomain').value,
      width: '1000',
      height: '1000',
      successCallback: function(){ window.location.replace('/teams/register_class') },
      failureCallback: function(){alert('failure :(')},
    })
  }

</script>
</body>
</html>