<button onclick="succeed()">Success</button>
<button onclick="fail()">Failure</button>

<script src="https://statics.teams.microsoft.com/sdk/v0.4/js/MicrosoftTeams.min.js"></script>
<script type="text/javascript">
  microsoftTeams.initialize();

  if(<%= auth_success %>){
    debugger
    microsoftTeams.authentication.notifySuccess();
  } else {
    debugger
    microsoftTeams.authentication.notifyFailure();
  }
</script>
