<!DOCTYPE html>
<html>
  <head>
    <title>PandaTeam</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <style>
      html, body {
        padding: 0;
        margin: 0;
        height: 100%;
        background: #f5f5f5;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
      }

      .wrapper {
        max-width: 900px;
        height: 100%;
        background: #fff;
        position: relative;
        padding: 500px 10px 500px;
      }

      .floating-calendar {
        position: fixed;
        top: 20px;
        right: 20px;
      }

      .calendar-day {
        margin-bottom: 70px;
        padding-top: 10px;
      }

      .calendar-day h4 {
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        padding-left: 10px;
      }

      .calendar-event {
        margin: 15px 0;
      }

      .calendar-event__content {
        padding: 10px 0 30px 35px;
        background: #f5f5f5;
      }

      .calendar-event__content img {
        display: none;
      }

      .calendar-event__title {
        line-height: 20px;
      }

      .calendar-event__icon {
        color: #008EE2;
        margin-right: 15px;
        font-size: 20px;
      }

      .calendar-event__icon svg {
        top: 3px;
        position: relative;
      }

      .rc-calendar-input-wrap,
      .rc-calendar-footer,
      .rc-calendar-next-year-btn,
      .rc-calendar-prev-year-btn {
        display: none;
      }
    </style>
  </head>

  <body>
    <script src="https://statics.teams.microsoft.com/sdk/v0.4/js/MicrosoftTeams.min.js"></script>
    <main class="wrapper">
      <%= yield %>
    </main>
  </body>
</html>
